//variables here

$main-text-color: darkgray;
$main-bg-color: gray;
$main-accent-color: darkgray;
$main-accent-color-2: lightgray;
$main-font: 'arial', 'helvetica', sans-serif;
$main-font-size: 16px;

