//variables here

$teal: #6ac9cb;
$lightteal: #a5d8d9;
$yellow: #fffbcb;
$peach: #ffd0b4;

$main-font: 'Lato', 'arial', sans-serif;
$title-font: 'BigNoodleTitling', 'arial', sans-serif;
$main-font-size: 18px;

